<?xml version="1.0"?>
<config>
    <modules>
        <Keyup_MassShipment>
            <version>2.0.0</version>
        </Keyup_MassShipment>
    </modules>
    <global>
        <helpers>
            <keyup_massshipment>
                <class>Keyup_MassShipment_Helper</class>
            </keyup_massshipment>
        </helpers>
        <models>
            <keyup_massshipment>
                <class>Keyup_MassShipment_Model</class>
            </keyup_massshipment>
        </models>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <keyup_massshipment before="Mage_Adminhtml">Keyup_MassShipment_Adminhtml</keyup_massshipment>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <keyup_massshipment_core_block_abstract_prepare_layout_before>
                        <class>keyup_massshipment/observer</class>
                        <method>addMassAction</method>
                    </keyup_massshipment_core_block_abstract_prepare_layout_before>
                </observers>
            </core_block_abstract_prepare_layout_before>
        </events>
        <translate>
            <modules>
                <Keyup_MassShipment>
                    <files>
                        <default>Keyup_MassShipment.csv</default>
                    </files>
                </Keyup_MassShipment>
            </modules>
        </translate>
    </adminhtml>
</config>